{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="es" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'facts/css/styles.css' %}">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Hechos de Chuck Norris</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    <a class="nav-link" href="{% url 'random' %}">Aleatorio</a>
                    <a class="nav-link" href="{% url 'create' %}">Nuevo</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            {% block content %}{% endblock %}
        </main>
        <footer class="mt-auto text-white-50">
            <p>
                Proyecto creado por <a href="mailto:jose.candia07@inacapmail.cl" class="text-white">José Miguel
                    Candia</a>, para la
                asignatura Programación Back End.
            </p>
        </footer>
    </div>
    {% bootstrap_javascript %}
</body>

</html>